.container {
    margin: 50px;
    display: flex;
    justify-content: center;

}

ol {
    border-radius: 10px 10px 10px 10px;
    background-color: gold;
}

li {
    padding: 8px;
    font-weight: bold;
}